/* {} */
body {
    background-image: url("/img/rafaeeel.jpg");
    color: white;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

h1 {
  font-family:cursive;
}

.videito {
  width: 560;
  height: 315;
}
.parrafo {
  color: white;
  background-color: black;
}

