body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #fbbc02;
    height: 120px;

}

img{
    margin-left:20px;
    width: 250px;
    height: auto;
}

nav{
    display: flex;
    flex-direction: row;
    z-index: 999;
}

.wp-left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-top: 10px;
}

.wp-left p{
    margin-left: 25px;
    margin-top: 10px;
    font-size: 20px;
}

.wp-right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-right: 20px;
}

.wp-right p:nth-child(1){
    margin-top: 20px;
    font-size: 18px;
}
.cuentas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -6px;
    gap: 40px;
}


.banner{
    width: 100%;
    height: 340px;
    background-image: url('/desarollo wep/Parte 1/img/banner1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

